
.home {
background-color: #FCF2ef;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 13px;
  margin: auto; 
  position: relative;
  text-align:center;
  display: block;
}
    #click-gif {
   display: none;
   position: fixed;
   top: 50%;
   left: 50%;
   z-index: 1000;
}
a{
  text-decoration: none;
  color: #111227;
  }


.logoheader{
  background-color: #7DA4DE;
  padding:10px; 
  position: relative;
  display: flex;
  justify-content: right;
  align-self: flex-end;
}

.main-menu{
  display: flex;
  justify-content: space-between;
  width: 200px;
  text-align:right;
  align-self: flex-end;
}
.homepage1{
height: auto;
display: flex;
background-color: #7DA4DE;
border-bottom: 5px solid #111227;
align-items: center;
flex-wrap: flex;
flex-direction: column;
margin: auto;
}

.homepage{
background-color: #FCF2ef;
height: 600px;
display: block;

}
.footer{
width:70%;
display: flex;
padding-bottom: 50px;
justify-content: space-around;
margin:auto;
}
.footer-menu{
width:20%;
text-align:left;
margin: auto;
}
.footer-contact{
width:20%;
text-align:center;
margin: auto;
}
.footer-logo{
width:20%;
text-align:center;
margin: auto;
}
